@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

div.container.main {
  background-image: url("/public/images/e-AnGx1n-gtw8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #18a0f4;
  border-radius: 20px;
  box-shadow: 30px 50px 50px rgba(4, 133, 226, 0.8);
  color: white;
  display: block;
  height: 680px;
  margin: 40px auto;
  max-width: 60%;
  padding: 40px;
  width: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
}
