div.footer-style {
  color: #18a0f4;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 56px;
  text-align: center;
}
.built-style {
  color: #18a0f4;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 100px;
  text-align: center;
  transition: all 200ms ease-in-out;
}
.Footer a:hover {
  color: white;
  cursor: pointer;
}
