.search-bar {
  border: 1px solid #18a0f4;
  border-radius: 20px;
  color: #18a0f4;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px 15px;
  text-align: left;
}
button {
  background: white;
  border: 1px solid #18a0f4;
  border-radius: 20px;
  color: #18a0f4;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  padding: 10px 15px;
  transition: all 200ms ease-in-out;
}
button:hover {
  background: #18a0f4;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}
