.Weather h1 {
  color: white;
  font-size: 55px;
  font-weight: bold;
  text-align: left;
}
.Weather h2 {
  color: white;
  font-size: 32px;
  font-weight: normal;
  text-align: left;
}
.Weather h3 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left;
}
.Weather .scale {
  color: white;
}
.Weather .scale:hover {
  color: white;
}
.Weather .degrees {
  font-size: 20px;
  text-decoration: none;
}
.Weather .weather-descriptor {
  color: white;
  font-size: 31px;
  font-weight: normal;
  margin-top: 10px;
  padding-top: 10px;
  text-align: left;
}
.Weather .icon-position {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 0;
}
.Weather .wind-speed-icon {
  font-size: 30px;
  color: white;
  margin-top: 2px;
  padding-top: 18px;
}
.Weather .wind-position {
  color: white;
  font-size: 31px;
  font-weight: normal;
  margin-top: 10px;
  padding-top: 8px;
  padding-left: 4px;
}
.Weather .search-bar {
  border: 1px solid #18a0f4;
  border-radius: 20px;
  color: #18a0f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin-top: 10px;
  margin-right: 5px;
  padding: 10px 15px;
  text-align: left;
}
.Weather button {
  background: white;
  border: 1px solid #18a0f4;
  border-radius: 20px;
  color: #18a0f4;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 10px;
  padding: 10px 15px;
  transition: all 200ms ease-in-out;
}
.Weather button:hover {
  background: #18a0f4;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.Weather div.footer-style {
  color: #18a0f4;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
}
.Weather .built-style {
  color: #18a0f4;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 100px;
  text-align: center;
  transition: all 200ms ease-in-out;
}
.Weather a:hover {
  color: white;
  cursor: pointer;
}
